<!-- <p class="mb-4 h1">About Us</p> -->

<div class="p-2 profile animated fadeInUp">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">
      <!--Panel-->
      <div class="card card-body mb-3">
        <div class="media d-block d-md-flex">
          <div class="media-body pr-md-3 pr-0 text-center text-md-left">
            <p align="center" class="mb-4 h3">About</p>
            <p>A MEAN (Mongo, Express, Angular, Node) web app boilerplate.</p>
          </div>
        </div>
      </div>
      <!--Panel-->
      <div class="card card-body mb-3">
        <div class="media d-block d-md-flex">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
            <p align="center" class="mb-4 h3">Open Source</p>
            <p>This boilerplate is open source, an can be found on Github.</p>
            <div class="text-center text-md-center">
              <a type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect href="https://github.com/kcsodetz/"><i
                  class="fab fa-github left"></i>Github</a>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">
      <!--Panel-->
      <div class="card mb-3">
        <h3 class="card-header tableColor white-text text-uppercase text-center">About Us</h3>
        <div class="card-body">

          <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
            <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars1.githubusercontent.com/u/22857253?s=460&v=4"
              alt="Generic placeholder image">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify" class="mb-4 h3">Ken Sodetz</p>
              <p align="justify">{{aboutUser}}</p>
              <div class="text-center text-md-center">
              </div>
            </div>
          </div>

          <!-- <div class="media d-block d-md-flex">
            <div class="media-body mr-md-3 mr-0">
              <p align="right" class="mb-4 h3">Cyrus Santiago</p>
              <p align="justify">Hi Im Cyrus</p>
              <div class="text-center text-md-center">
              </div>
            </div>
            <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars3.githubusercontent.com/u/21361821?s=460&v=4"
              alt="Generic placeholder image">
          </div> -->
        </div>
      </div>
      <!--/.Panel-->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>