# Mongo connection driver
MONGODB_HOST=mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[database][?options]]

# Port number
PORT=[port number]

# JWT Secret for token authentication
JWT_SECRET=[JSON web token]

# Email address for mail notifications
EMAIL_ADDRESS=[email address]

# Username, password, and email for unit tests
TEST_USERNAME=[unit test name]
TEST_PASSWORD=[unit test password]
TEST_EMAIL=[unit test email]

# OAuth Client ID, secret, and refresh token for nodemailer
OAUTH_CLIENT_ID=[oauth client ID]
OAUTH_CLIENT_SECRET=[oauth client secret]
OAUTH_REFRESH_TOKEN=[oauth refresh token]
